/* Custom CSS for the Footer */

.footer {
    background-color: #369cc1;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
  }
  
  .social-icons {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2em;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #FFD662;
  }
  